# PostgreSQL
POSTGRES_DB=mvp_credit
POSTGRES_USER=mvp_credit_user
POSTGRES_PASSWORD=change_this_local_password
POSTGRES_HOST_PORT=5433

# Django (se utilizarán al inicializar el proyecto)
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=change_this_local_django_secret
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
BACKEND_HOST_PORT=8000

# Conexión interna entre contenedores
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=mvp_credit
DATABASE_USER=mvp_credit_user
DATABASE_PASSWORD=change_this_local_password
REDIS_URL=redis://redis:6379/0
